/* no existe -declarar basico */
/* QUE ESTE DOCUMENTO ESTA RELACIONADO */
/* INDEX.HTML */

/* declaro por tag */
body {
  background-color: #7bf10b;
  margin: 50px;
  text-align: center;
}

h1 {
  border: solid red;
  text-align: center;
  margin: 100px;
  padding-bottom: 15px;
}

h2 {
  color: red;
  font-size: 30px;
  border: solid red;
}

/* decalro por clase  */
.subtitulo {
  color: gray;
  border: none;
  font-size: 35px;
}

.texto-nuevo {
  color: aqua;
  font-size: 35px;
}

/*  declaro por id */

#section1 {
  color: red;
  font-size: 30px;
}

span {
  border: solid red;
}
